@use '../../_mixins.scss';
@use '../../_variables.scss';

footer{
    padding-top: 50px;
    background-color: rgba(251, 251, 251, 1);
    border-bottom:1px solid rgb(70, 163, 88);
    .services{
        padding: 25px;
        display: flex;
        align-items:flex-start;
        justify-content: space-between;
        ul{
            list-style: none;
            display: flex;
            align-items:center;
            column-gap: 60px;
            li{
                display: flex;
                flex-direction: column;
                align-items:flex-start;
                div{
                    span{
                        position: relative;
                        display: block;
                        width: 74px;
                        height: 74px;
                        border-radius: 100%;
                        background: rgba(70, 163, 88, 0.13);
                        img{
                            position: absolute;
                            left: 15px;
                            bottom: 3px;
                        }
                    }
                }
                h3{
                    padding: 18px 0 9px 0;
                    font-family: Cera Pro;
                    font-weight: 700;
                    font-size: 17px;
                    line-height: 16px;
                    color: variables.$second-type-color;                
                }
                p{
                    width: 204px;
                    font-family: Cera Pro;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 22px;
                    color: rgba(61, 61, 61, 1);
                }
            }
        }
        div{
            h3{
                font-family: Cera Pro;
                font-weight: 700;
                font-size: 18px;
                line-height: 16px;
                color: variables.$second-type-color;
            }
            input{
                width: calc(354px - 85px);
                padding: 12px;
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
                outline: none;
                border: none;
                background-color: variables.$third-type-color;
                &::placeholder{
                    font-family: Cera Pro;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    color: rgba(172, 172, 172, 1);
                }
            }
            button{
                padding: 12px 26px;
                font-family: Cera Pro;
                font-weight: 700;
                font-size: 18px;
                line-height: 16px;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
                background-color: variables.$main-color;
                color: variables.$third-type-color;
                border:none;
            }
            p{
                width: 354px;
                font-family: Cera Pro;
                font-weight: 400;
                font-size: 13px;
                line-height: 22px;
                color: rgba(114, 114, 114, 1);
            }
        }
    }
    .contact{
        padding: 25px;
        border-top: 1px solid rgba(70, 163, 89, 0.508);
        border-bottom: 1px solid rgba(70, 163, 89, 0.508);
        background-color: rgba(70, 163, 88, 0.1);
        .contact__box{
            display: flex;
            align-items: center;
            column-gap: 200px;
            img{
                width: 150px;
                height: auto;
            }
            &_menu{
                list-style: none;
                display: flex;
                align-items: center;
                column-gap: 150px;
                li{
                    display: flex;
                    align-items: center;
                    img{
                        width: 20px;
                        height: 20px;
                    }
                    p{
                        padding-left: 5px;
                        width: 176px;
                        font-family: Cera Pro;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 22px;
                        letter-spacing: 0%;
                    }
                }
            }
        }
    }
    .features{
        padding: 33px 23px;
        border-bottom: 1px solid #46A35833;
        .features__box{
            display: flex;
            align-items: center;
            column-gap: 200px;
            div:not(:last-child){
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                h3{
                    padding-bottom: 15px;
                    font-family: Cera Pro;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 16px;
                    letter-spacing: 0%;                    
                }
                a{
                    padding-bottom: 5px;
                    text-decoration: none;
                    font-family: Cera Pro;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 30px;
                    letter-spacing: 0%;
                    color: rgba(61, 61, 61, 1);
                }
                a:hover{
                    color: variables.$main-color;
                }
            }
            div:last-child{
                h3{
                    padding-bottom: 15px;
                    font-family: Cera Pro;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 16px;
                    letter-spacing: 0%;  
                }
                .social_media{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    column-gap: 10px;
                    padding: 20px 0 33px;
                    a{
                        text-decoration: none;
                        opacity: 1;
                        padding: 15px;
                        transition: 0.3s transform;
                        border-radius: 4px;
                        border: 1px solid variables.$main-color;
                    }
                    a:hover{
                        transform: scale(1.2);
                    }
            }
            }
    }}
    .site{
        background-color: variables.$third-type-color;
        padding: 7px 7px;
        p{
            text-align: center;
            font-family: Cera Pro;
            font-weight: 400;
            font-size: 14px;
            line-height: 30px;
            letter-spacing: 0%;
            color: variables.$second-type-color;
        }
    }
}